.welcome-section1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 3rem 3rem;
}
.image-foundress {
  width: 70%;
  margin-block-end: 2rem;
}
.image-foundress img {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.25);
}
.image-foundress p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  margin-block: 1rem;
}
.words-foundress {
  width: 100%;
}
.words-foundress p {
  font-size: 1.5rem;
  text-align: justify;
  font-style: italic;
  line-height: 2.5rem;
}
@media (min-width: 375px) {
  @media (min-height: 700px) {
    .image-foundress p {
      font-size: 1.4rem;
      margin-block: 1.5rem 3rem;
    }
    .words-foundress p {
      font-size: 1.9rem;
      text-align: justify;
      font-style: italic;
      line-height: 2.8rem;
    }
  }
}
@media (min-width: 500px) {
  .welcome-section1 {
    padding: 10rem 6rem 6rem;
  }
  .image-foundress {
    width: 50%;
    margin-block-end: 3rem;
  }
  .image-foundress p {
    font-size: 1.6rem;
    margin-block: 2rem;
  }
  .words-foundress p {
    font-size: 2.2rem;
    text-align: justify;
    font-style: italic;
    line-height: 4rem;
  }
}
@media (min-width: 1000px) {
  .welcome-section1 {
    max-width: 128rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 13rem 6rem 6rem;
    margin: auto;
  }
  .image-foundress {
    width: 40%;
    max-width: 35rem;
    margin: 0;
  }
  .image-foundress p {
    font-size: 1.8rem;
    margin-block: 2rem 0;
  }
  .words-foundress {
    width: 50%;
    max-width: 53rem;
    margin: 0;
  }
  .words-foundress p {
    font-size: 2.4rem;
    line-height: 4.5rem;
  }
}
.welcome-section2 {
  width: 100%;
  min-height: 92vh;
  background-color: #faa930;
  background-image: var(--texture-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 3rem;
  position: relative;
}
.welcome-section2-video .background {
  width: 20rem;
  height: 10rem;
  background-color: #fff;
  margin-inline-start: 4rem;
  margin-block-end: 4rem;
}
.welcome-section2-video {
  width: 80%;
  position: relative;
  visibility: hidden;
}
.welcome-video {
  /* max-width: 28rem !important; */
  position: absolute !important;
  top: 18% !important;
}
.vjs-poster {
  opacity: 0.8 !important;
}
.vjs-big-play-centered .vjs-big-play-button {
  width: 4.5rem !important;
  height: 4.5rem !important;
  background-color: #fff !important;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.8) !important;
  border-radius: 100% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  color: #faa930 !important;
  font-size: 2.8rem !important;
}
.video-js .vjs-progress-holder .vjs-play-progress {
  background-color: #faa930;
}
/*  */
@media (min-width: 320px) {
  @media (max-height: 570px) {
    .video-js .vjs-control {
      width: 2rem !important;
    }
    .video-js .vjs-picture-in-picture-control {
      display: none !important;
    }
    .vjs-playback-rate .vjs-playback-rate-value {
      display: none !important;
    }
  }
  @media (max-height: 670px) {
    .video-js .vjs-picture-in-picture-control {
      display: none !important;
    }
  }
}
.welcome-section2-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 6rem;
}
.welcome-section2-content h2 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 700;
  padding-inline: 1.5rem;
  margin-block-end: 2rem;
  visibility: hidden;
}
.welcome-section2-content p {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 2.2rem;
  margin-block-end: 4rem;
  visibility: hidden;
}
.welcome-linksVideo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  visibility: hidden;
}
.welcome-linksVideo button {
  width: 10rem;
  font-size: 1.6rem;
  border: none;
  background-color: #fff;
  padding: 1rem;
}
.welcome-linksVideo div {
  width: 0.2rem;
  height: 3.2rem;
  background-color: #fff;
  margin-inline: 1.7rem;
}
.welcome-linksVideo a {
  width: 10rem;
  font-size: 1.3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 375px) {
  .welcome-section2-video .background {
    width: 24rem;
    height: 13rem;
    margin-inline-start: 5rem;
  }
  .welcome-section2-content {
    margin-block-start: 4rem;
  }
  .welcome-section2-content h2,
  .welcome-section3-content h2,
  .welcome-section4-content h2 {
    font-size: 2.4rem;
  }
  .welcome-section2-content p,
  .welcome-section3-content p,
  .welcome-section4-content p {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .welcome-linksVideo button {
    width: 11.5rem;
    font-size: 1.7rem;
  }
  .welcome-linksVideo a {
    width: 11.5rem;
    font-size: 1.5rem;
  }
  .welcome-section3-content button,
  .welcome-section4-content button {
    font-size: 1.8rem;
    padding: 0.8rem 1.8rem;
  }
  .welcome-section3-image,
  .welcome-section4-image {
    min-height: 25rem;
  }
}
@media (min-width: 500px) {
  .welcome-section2 {
    width: 100%;
    min-height: 80vh;
    padding: 6rem;
  }
  .welcome-section2-video .background {
    width: 96%;
    max-width: 80rem;
    height: 30rem;
    background-color: #fff;
    margin-inline-start: 8rem;
    margin-block-end: 4rem;
  }
  .welcome-section2-video {
    width: 80%;
    position: relative;
  }
  .welcome-video {
    max-width: 53rem !important;
    top: 14% !important;
  }
  .welcome-section2-content {
    margin-block-start: 6rem;
  }
  .welcome-section2-content h2,
  .welcome-section3-content h2,
  .welcome-section4-content h2 {
    font-size: 3.2rem;
    margin-block-end: 3rem;
  }
  .welcome-section2-content p,
  .welcome-section3-content p,
  .welcome-section4-content p {
    font-size: 2.5rem;
    line-height: 4rem;
    margin-block-end: 4rem;
  }
  .welcome-linksVideo {
    width: 60%;
    max-width: 45rem;
  }
  .welcome-linksVideo button {
    width: 15rem;
    font-size: 2.6rem;
    border: none;
    background-color: #fff;
    padding: 1.5rem;
  }
  .welcome-linksVideo div {
    width: 0.3rem;
    height: 4.8rem;
  }
  .welcome-linksVideo a {
    width: 15rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
  }
}
@media (min-width: 1000px) {
  .welcome-section2 {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .welcome-section2-video {
    grid-column: 2;
  }
  .welcome-section2-video .background {
    width: 96%;
    max-width: 50rem;
    height: 22rem;
    background-color: #fff;
    margin-inline-start: 6rem;
    margin-block-end: 4rem;
  }
  .welcome-section2-video {
    width: 80%;
    max-width: 50rem;
  }
  .welcome-video {
    max-width: 49rem !important;
    top: 14% !important;
  }
  .welcome-section2-content {
    grid-column: 1;
    grid-row: 1;
  }
  .welcome-section2-content h2,
  .welcome-section3-content h2 {
    font-size: 3.2rem;
    padding: 0 6rem;
    margin-block-end: 3rem;
  }
  .welcome-section2-content p,
  .welcome-section3-content p {
    font-size: 2.2rem;
    line-height: 4rem;
    padding: 0 3rem;
    margin-block-end: 4rem;
  }
  .welcome-linksVideo {
    width: 60%;
    max-width: 45rem;
  }
  .welcome-linksVideo button {
    width: 15rem;
    font-size: 2.4rem;
    border: none;
    background-color: #fff;
    padding: 1rem;
  }
  .welcome-section2-content button,
  .welcome-section3-content button,
  .welcome-section4-content button {
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .welcome-section2-content button:hover,
  .welcome-section3-content button:hover,
  .welcome-section4-content button:hover {
    transform: scale(1.1);
  }
  .welcome-linksVideo div {
    width: 0.3rem;
    height: 4.8rem;
  }
  .welcome-linksVideo a {
    width: 15rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
  }
}
.welcome-section3,
.welcome-section4 {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
}
.welcome-section3-image,
.welcome-section4-image {
  width: 80%;
  max-width: 27rem;
  min-height: 21rem;
  background-color: #ffe5a0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 4rem;
  visibility: hidden;
}
.welcome-section3-image img,
.welcome-section4-image img {
  width: 100%;
  padding: 4rem;
}
.welcome-section3-content,
.welcome-section4-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-section3-content h2,
.welcome-section4-content h2 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 700;
  padding-inline: 1.5rem;
  margin-block-end: 2rem;
  visibility: hidden;
}
.welcome-section3-content p,
.welcome-section4-content p {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 2.2rem;
  margin-block-end: 4rem;
  visibility: hidden;
}
.welcome-section3-content button,
.welcome-section4-content button {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #faa930;
  border: none;
  padding: 0.5rem 1.5rem;
  visibility: hidden;
}
.welcome-section3-popUp,
.welcome-section4-popUp {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transform: scale(0);
  transition: all 0.6s ease;
}
.active-popUp {
  transform: scale(1);
}
.container-content-popUp {
  width: 80%;
  height: 80vh;
  background-color: #fff;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  position: relative;
}
.content-popUp {
  width: 100%;
  height: 100%;
  padding: 3rem 0 1rem;
  overflow-y: auto;
}
.popUp-loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  transition: all 0.6s ease;
  z-index: 1;
}
.popUp-loader svg {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide-loader {
  opacity: 0;
}
.popUp-iconClose {
  width: 100%;
  position: absolute;
  left: 50%;
  top: -2%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popUp-iconClose button {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUp-iconClose button i {
  font-size: 3rem;
  color: #e31a1a;
}
.popup-images {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.popup-images .image {
  width: 75%;
  position: relative;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  margin-block-end: 3rem;
  margin-inline: auto;
}
.popup-images img {
  width: 100%;
}
.popup-images .text {
  width: 100%;
  background: #faa930;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 1.5rem;
}
.popup-images .text svg {
  width: 2.5rem;
}
.popup-images .text h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  margin-inline-start: 1rem;
}
@media (min-width: 375px) {
  .content-popUp {
    padding: 4rem 0 1rem;
  }
  .popup-images .image {
    margin-block-end: 4rem;
  }
  .popup-images .text svg {
    width: 2.6rem;
  }
  .popup-images .text h3 {
    font-size: 1.3rem;
    margin-inline-start: 1.5rem;
  }

  @media (min-height: 700px) {
    .welcome-section2 {
      padding: 7rem 3rem 0;
    }
    .welcome-section2-video .background {
      width: 27rem;
      height: 14rem;
      margin-inline-start: 5rem;
    }
    .welcome-section2-content {
      margin-block-start: 3rem;
    }
    .welcome-section2-content h2,
    .welcome-section3-content h2,
    .welcome-section4-content h2 {
      font-size: 2.6rem;
      margin-block-end: 4rem;
    }
    .welcome-section2-content p,
    .welcome-section3-content p,
    .welcome-section4-content p {
      font-size: 2rem;
      line-height: 3.5rem;
    }
    .welcome-linksVideo button {
      width: 13rem;
      font-size: 1.9rem;
    }
    .welcome-linksVideo a {
      width: 13rem;
      font-size: 1.7rem;
    }
    .welcome-section3-image {
      min-height: 26rem;
    }
    .welcome-section3-content button,
    .welcome-section4-content button {
      font-size: 2rem;
      padding: 1.2rem 2.2rem;
    }
    .container-iconClose {
      position: absolute;
      top: -2.5%;
      right: -5%;
    }
    .container-iconClose button {
      width: 3rem;
      height: 3rem;
    }
    .popup-images .text svg {
      width: 2.7rem;
    }
    .popup-images .text h3 {
      font-size: 1.5rem;
      margin-inline-start: 1.8rem;
    }
    .maps-text h3 {
      font-size: 2rem;
    }
    .maps-text p {
      font-size: 1.7rem;
      line-height: 2.5rem;
    }
    .maps-text a {
      font-size: 1.7rem;
      padding: 1.2rem;
    }
  }
  @media (min-height: 810px) {
    .welcome-section2-content {
      margin-block-start: 6rem;
    }
  }
}
@media (min-width: 500px) {
  .welcome-section3,
  .welcome-section4 {
    padding: 6rem;
  }
  .welcome-section3-image,
  .welcome-section4-image {
    width: 60%;
    max-width: 42rem;
  }
  .welcome-section3-image img,
  .welcome-section4-image img {
    padding: 5rem;
  }
  .welcome-section3-content button,
  .welcome-section4-content button {
    font-size: 2.4rem;
  }
  .popUp-loader svg {
    width: 30%;
  }
  .popUp-iconClose {
    top: -1.5%;
  }
  .popup-images {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .welcome-section3,
  .welcome-section4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .welcome-section3-image,
  .welcome-section4-image {
    max-width: 35rem;
    margin: auto;
  }
  .welcome-section3-content {
    grid-row: 1;
    grid-column: 2;
  }
  .content-popUp::-webkit-scrollbar {
    width: 0.7rem;
    background-color: #fff;
  }
  .content-popUp::-webkit-scrollbar-thumb {
    background-color: #faa930;
    border-radius: 1rem;
  }
  .popUp-loader svg {
    width: 15%;
  }
  .popUp-iconClose {
    top: -2%;
  }
  .popup-images {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.welcome-section4 {
  background-color: #f35c5c;
  background-image: var(--texture-white);
  color: #fff;
}
.welcome-section4-image {
  background-color: #fff;
}
.welcome-section4 button {
  background-color: #fff;
  color: #000;
}
.maps {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maps-map {
  width: 80%;
  height: 50%;
  background-color: #ff1d1d;
  margin: auto;
}
.maps-map iframe {
  width: 102%;
  height: 102%;
}
.maps-text {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.maps-text h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  margin-block-end: 1rem;
}
.maps-text p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2rem;
  color: #000;
  margin-block-end: 1rem;
}
.maps-text a {
  color: #fff;
  font-size: 1.2rem;
  background-color: #fe5e3a;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  padding: 0.8rem;
}
@media (min-width: 500px) {
  .maps-text h3 {
    font-size: 3rem;
    margin-block-end: 3rem;
  }
  .maps-text p {
    font-size: 2rem;
    line-height: 3.5rem;
    margin-block-end: 3rem;
  }
  .maps-text a {
    font-size: 2.2rem;
    padding: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .welcome-section4-content {
    grid-row: 1;
    grid-column: 1;
  }
  .maps {
    flex-direction: row;
  }
  .maps-map {
    width: 40%;
  }
  .maps-text {
    width: 40%;
  }
  .maps-text h3 {
    font-size: 3rem;
    margin-block-end: 3rem;
  }
  .maps-text p {
    font-size: 2rem;
    line-height: 3.5rem;
    margin-block-end: 3rem;
  }
  .maps-text a {
    font-size: 2rem;
    padding: 1.5rem;
    transition: all 0.3s ease;
  }
  .maps-text a:hover {
    transform: scale(1.1);
  }
  .welcome-section4 .content-popUp {
    padding: 0;
  }
}
